<html>

<head>
    <title>Favorite Dishes</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body background="https://i.pinimg.com/originals/e2/53/8a/e2538a28cb40e22320e99c2e1720d879.jpg" class="responsive-img">
    <div>
        <h1 class="center">
            Popular {{ cuisine }} foods!
        </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col l6 m12 s12">
                <h5>
                    Typical {{ cuisine }} dishes
                </h5>
               <div class="row">
                   <div class="col l8">
               <form method="post" action="/dishes">
        <label></label>
        <select name="meal" class="browser-default blue lighten-2">
    <option value="" disabled selected>Pick a dish</option>
    {% for dish in dishes %}
        <option value="{{ dish['strMeal'] }}">{{ dish['strMeal'] }}</option>
    {% endfor %}
  </select>
        <input type="submit" value="Find Recipe!!" class="red lighten-2" />
    </form>
    </div>
    </div>
            </div>
            <div class="col l6 m12 s12">
                <img width="500" src="https://www.countryflags.io/{{ code }}/shiny/64.png"></img>

            </div>
        </div>
              
    </div>
</body>